@media screen and (max-width:767px) {

  /*  MENU-HEADER  */

  .top-header-container {
    max-width: 100%;
  }
  .menu-header {
    margin-bottom: 35px;
  }
  div[class*="block-simple-blockheader-"]{
    &.block-simple-blockheader-european{
      a{
      }
      .header-img{
        height: 70px;
      }
    }

    &.block-simple-blockheader-commission{
      max-width: 195px;
      .header-img {
      }
    }

    &.block-simple-blockheader-vesafe{
      .header-img{
        height: 70px;
      }
    }
  }

  .header-blocks{
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    position:relative;
  }
  .header-menu-news{
    max-width: 100%;
  }

  .block-simple-blockcontact-us{
    display:none;
  }
  .block-text-resize-block{
    display:none;
  }
  .block-block-printfriendly{
    display:none;
  }
  .block-simple-blocksearch-api-search{
    position: absolute;
    bottom: -49px;
    right: 15px;
    background-color: $bg-color-white;
    z-index: 9999;

    #views-exposed-form-search-api-search-api-block {
      .form-submit{
        background-color: transparent;
        &:before{
          color:$bg-color-blue;
        }
      }
      input {
        background-color: transparent;
        border-bottom: 1px solid $bg-color-blue;
        width: calc(100% - 16px);
      }
    }
  }
  .block-gtranslate-block{
    position: absolute;
    bottom: -88px;
    z-index: 1;
    width: 324px;
    margin-left: 10px;
    left: 0px;
  }

  /*  CAROUSEL  */
  .slick{
    &__arrow{position: absolute;
      display: block;
      top: 50%;
      width: 100%;
      right: 0px;
      z-index: 9999;
      text-decoration: none !important;
    }
    &-arrow{
      background-color: $bg-color-red;
      border-radius: 50%;
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0px;
      overflow: hidden;
      text-decoration: none;
      color:$text-color-white;
      margin:0px;
      transform:translateY(-50%);
      &:hover{
        &:before {
          color: $text-color-white;
        }
      }
    }
    &-prev{
      left:-18px;
    }
    &-next{
      right: -18px;
    }
    &.unslick{
      .slick{
        &__slide{
          width:100%;
        }
      }
    }
  }

  /*  SCROLL TO TOP  */
  footer #scroll-top {
    left: 50%;
    transform:translate(-50%, -125%);
  }

  /*  BREADCRUMB  */
  .breadcrumb{
    display:none;
  }

  /*  E-GUIDE ARTICLE  */
  .eguide-block img {
    margin-bottom: 15px;
  }
}
