@media screen and (max-width:767px) {

  /*  CAROUSEL  */
  .slick{
    &__arrow{position: absolute;
      display: block;
      top: 50%;
      width: 100%;
      right: 0px;
      z-index: 9999;
      text-decoration: none !important;
    }
    &-arrow{
      background-color: $bg-color-red;
      border-radius: 50%;
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0px;
      overflow: hidden;
      text-decoration: none;
      color:$text-color-white;
      margin:0px;
      transform:translateY(-50%);
      &:hover{
        &:before {
          color: $text-color-white;
        }
      }
    }
    &-prev{
      left:-18px;
    }
    &-next{
      right: -18px;
    }
  }



}
