.chip-container{
  .item-list{
    padding:0 15px;
  }
  ul{
    li{
      display: inline-block;
      list-style-type: none;
      a{
        background-color: $bg-color-red;
        border-radius: 8px;
        padding: 6px 10px;
        display: block;
        color: $text-color-white;
        margin-bottom: 15px;
        margin-right: 15px;
        text-decoration: none;
        font-size: 0.8rem;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &:after{
          content: " \f105";
          font-family: "FontAwesome";
          margin-left: 5px;
          font-weight: bold;
        }
        &:hover{
          border-radius: 0px;
          background-color:$bg-color-red-hover;
        }
      }
    }
  }
}
