
h1, h2, label{
  font-family: 'Open Sans',sans-serif;
  color: $text-color-black;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0;
  font-weight: 600;
}

h2{
  font-size: 1.6rem;
  padding-left: 0;
  font-weight: 600;
  margin-bottom: 22px;
  margin-top: 22px;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      transition: all 1s;
    }
  }
}

h2.views-field-title{
  a{
    font-size: 1.2rem;
    color: $text-color-red;
    font-weight: bold;
  }
}

h3{
  font-size: 1.1rem;
  color: $text-color-black;
  a{
    color: $text-color-black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      transition: all 1s;
    }
  }
}


.article-header{
  margin-top: 15px;
  text-align: center;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(/sites/vesafe/themes/custom/vesafe_theme/images/lineal-background.png);
  background-repeat: repeat;
  background-position: center top;
  background-size: auto;
  margin-bottom: 30px;
  .field--name-title{
    border-bottom: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    font-size: 2.2rem;
    font-weight:400;
  }
  .field--name-field-subtitle{
    font-size:1rem;
  }
}


.block-field-blocknodegood-practicefield-gp-what-is-it h2{
  &:before{
    content: "\f128";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}
.block-field-blocknodegood-practicefield-gp-who-is-for h2{
  &:before{
    content: "\f0c0";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}

.block-field-blocknodegood-practicefield-gp-what-is-the-benefit h2{
  &:before{
    content: "\f024";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}

.block-field-blocknodegood-practicefield-gp-getting-started h2{
  &:before{
    content: "\f041";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}

.block-views-blockgood-practices-good-practices-key-article h2,
.block-views-blockgood-practices-block-1 h2{
  &:before{
    content: "\f0e8";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}

.block-field-blocknodegood-practicefield-gp-external-links h2{
  margin-top: 22px;
  margin-bottom: 11px;
  font-size: 1.25rem;
  font-weight: 700;

  &:before{
    content: "\f0c1";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}

.block-field-blocknodegood-practicefield-additional-resources h2{
  margin-top: 22px;
  margin-bottom: 11px;
  font-size: 1.25rem;
  font-weight: 700;

  &:before{
    content: "\f055";
    font-family: "FontAwesome";
    font-size: 1.375rem;
    margin-right: 10px;
    vertical-align: baseline;
    font-weight: normal;
  }
}
.block-views-blockview-themes-view-key-articles-front-page h2{
  &:before{
    content: "\f084";
    font-family: "FontAwesome";
    font-size: 0.9em;
    margin-right: 5px;
  }
}
.section-select-a-vehicle-type-or-risk h2{
  &:before{
    content: "\e024";
    font-family: "Glyphicons Halflings";
    font-size: 0.8em;
    margin-right: 5px;
  }
}

.block-views-blockvehicles-list-vehicles-list h2{
  &:before{
    content: "\f1b9";
    font-family: "FontAwesome";
    font-size: 1em;
    margin-right: 5px;
  }
}

.block-views-blockvehicles-list-risk-list h2{
  &:before{
    content: "\f005" !important;
    font-family: "FontAwesome";
    font-size: 1em;
    margin-right: 5px;
  }
}
