.block-views-blockview-themes-view-key-articles-front-page{
  .node--type-key-article .field--name-field-media-image.field--type-entity-reference {
    margin-bottom: 0px;
  }

  .block-field-blocknodekey-articletitle{
    a{
      display: block;
      text-align: center;
      font-weight: bold;
      color: #ea4a5e;
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 1.2em;
    }
  }
  .field--name-body{
    text-align:center;
  }
}


.block-views-blockview-did-you-know-view-did-you-know{
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  //overflow: hidden;
  position: relative;
  //margin-bottom: 15px;
  //margin-top: 25px;
  //border:1px solid red;

  .slick{
    &-list{
      margin-right: 65px;
      margin-left: 65px;
      overflow: hidden;
    }
    &__arrow{
      position:absolute;
      top:25%;
      //border:1px solid green;
    }
    &-arrow{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      background-color: $text-color-white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-decoration: none;
      &:hover,
      &:hover:before{
        color:$text-color-black;
      }
    }
    &-prev{
      left:0px;
    }
    &-next{
      right:0px;
    }
  }
}
