.block-views-blockview-themes-view-key-articles-front-page{
  margin-bottom:25px;
}



.block-views-blockview-did-you-know-view-did-you-know{
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  //overflow: hidden;
  position: relative;
  //margin-bottom: 15px;
  //margin-top: 25px;
  //border:1px solid red;

  .slick{
    &-list{
      margin-right: 65px;
      margin-left: 65px;
      overflow: hidden;
    }
    &__arrow{
      position:absolute;
      top:25%;
      //border:1px solid green;
    }
    &-arrow{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      background-color: $text-color-white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-decoration: none;
      color:$text-color-black;
      &:hover,
      &:hover:before{
        color:$text-color-black;
      }
    }
    &-prev{
      left:0px;
    }
    &-next{
      right:0px;
    }
  }
}


.legislation-block,
.roles-block,
.eguide-block{
  h3{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .item-block{
    clear: both;
    margin-bottom: 25px;
    overflow: hidden;
    ul{
      padding-left: 20px;
    }
  }

  .col-sm-8 ul {
     margin-left: 30px;
   }
}
.roles-block {
  .employer-block a[target*="_blank"] {
    color: #ea4a5e;
    display: block;
    margin-top: 15px;
  }
}
.oira-block p {
  margin-bottom: 20px;
}

#accessibility,
#privacy-notice,
#legal-notice{
  ul {
    padding-left: 20px;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .accesibility_table {
    width: 100% !important;
    tbody > tr:first-child {
      background-color: $bg-color-red;
      color: $text-color-white;
    }
  }

}

#site-map{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  .site-map-front-page {
    display: none;
  }
  .site-map-box ul {
    padding-left: 1.5em;
  }
  .site-map-menus{
    ul.site-map-menu {
      list-style: none;
    }
    li{
      margin-bottom: 10px;
      a {
        font-size: 1.1em;
        font-weight: 600;
        &:before {
          content: "> ";
        }
      }
    }
  }
}
