.block-views-blocksearch-api-good-practices-search-good-practices{

  .view-header{
    text-align:right;
    margin-bottom: 25px;
    padding-bottom: 13px;
    padding-top: 8px;
    font-size: 0.9em;
    h2{
      border-bottom: 2px solid $bg-color-grey-lines;
      text-align:left;
      font-size:inherit;
      font-weight:inherit;
    }
  }

  .view-empty{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.aside-column{
  z-index:4!important;
  h3{
    color: $text-color-white;
    background-color: $bg-color-red;
    width: 100%;
    padding: 10px 12px;
    margin: 5px 0px;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
  }
  .block-facet-blockrisks  h3{
    &:before {
      content: "\f005";
      font-family: "FontAwesome";
      margin-right: 10px;
    }

  }
  .block-facet-blockvehicles  h3{
    &:before{
      content: "\f1b9";
      font-family: "FontAwesome";
      margin-right: 10px;
    }
  }
  .item-list__links{
    display:block;
    list-style:none;
    margin-top: 0;
    margin-bottom: 11px;
  }
  .facet-item{
    a{
      color: inherit;
      &.is-active{
        font-weight:bold;
        .facet-item__status {
          color:transparent;
          font-style: normal;
          padding: 0px;
          line-height: 16px;
          width: 16px;
          height: 16px;
          background-color: $bg-color-grey-dark;
          display: inline-block;
          text-align: center;
          font-size: 0.8em;
          margin-right: 6px;
          font-weight: bold;
          position:relative;
          &:before{
            content:'x';
            color: $text-color-white;
            display: inline-block;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            z-index:2;
          }
        }
      }
    }
    &__value{}
    &__count{}
  }
  .form-item-sort-by{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    position:absolute;
    top:0px;
    left:100%;
    z-index:100;
    margin-left: 31px;
    width: 100vw;
    max-width: 823px;
    margin-top: 8px;
    border-bottom: 2px solid $bg-color-grey-lines;
    label{
      display:inline-block;
      font-style: italic;
      font-weight: normal;
      font-size: .9em;
      padding-top: 2px;
    }
    .bef-links{
      display:inline-block;
      position: absolute;
      top: 0px;
      left: 80px;
      z-index:200;

      .bef-link{
        display: inline-block;
        margin-left: 10px;
        color: $text-color-black;
        text-decoration: none;
        &--selected{
          font-weight: 600;
          color: $text-color-red;
        }
      }

    }
    ul{
      display:inline-flex;
      flex-direction: row;
      align-items: baseline;
      list-style: none;
      margin:0px;
    }
    li{
      margin-left:10px;
    }
  }
  .form-control{
    border-color: $bg-color-red !important;
    box-shadow: none;
    width: 100%;
    padding-right: 35px;
    border-radius: 3px;
  }
  .form-submit{
    border: none;
    background-color: transparent;
    color: $text-color-red;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    width: 40px;
    overflow: hidden;
    &:before{
      content: "\e003";
      font-family: "Glyphicons Halflings";
      padding-right: 30px;
    }
    &:hover {
      background-color: transparent;
      color: $text-color-red;
      border: none;
      margin-top: 0px;
      width: 40px;
    }
  }

  .facets-widget-links{
    h3{
      &:after {
        content: "\e252";
        font-family: "Glyphicons Halflings";
        float: right;
        font-size: 0.8em;
        line-height: 22px;
      }

    }
    &.open{
      h3{
        &:after {
          content: "\e253" !important;
          font-family: "Glyphicons Halflings";
          float: right;
          font-size: 0.8em;
          line-height: 25px;
        }

      }
    }
    ul{
      display:none;
    }
  }

  .block-views-exposed-filter-blocksearch-api-good-practices-search-good-practices{
    position:relative;
  }
}

.success-results{
}

