.block-views-blocksearch-api-good-practices-search-good-practices{
  position: relative;
  .view-header{
    text-align:right;
    margin-bottom: 25px;
    padding-bottom: 13px;
    font-size: 0.9em;
    position:relative;
    h2{
      &[style="display: block;"]{
        border-bottom: 2px solid $bg-color-grey-lines;
        text-align:left;
        font-size:inherit;
        font-weight:inherit;
        display: block;
        font-style: italic;
        margin:0px;
        .search-results-label{
          font-size: 1.7em;
          font-style: normal;
          font-weight: bold;
          line-height: 1.42857143;
        }
      }
    }
    .shown-items{

      margin-top: 11px;
      display: inline-block;
      font-size: 0.9em;
    }
  }

  .view-empty{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.block-views-exposed-filter-blocksearch-api-good-practices-search-good-practices{
  position: relative;
}
