.field--name-field-risks,
.field--name-field-vehicles{
  display:inline-flex;
  flex-direction: row;
  margin:0px;
  font-size:0.875rem;
  .field__label{
    font-style: italic;
    &:after{
      content:":";
    }
  }
}

.field--name-field-media-image.field--type-entity-reference{
  margin-bottom:10px;
}

.additional-resources-link-more,
.additional-resources-link-less{
  font-style: italic;
  font-weight: 700;
  text-align: right;
  display: block;
  cursor: pointer;
  font-size:1rem;
  &:before{
    content: "> ";
  }
}

.node--type-good-practice.node--view-mode-full{
  a.node_like-like{
    color: $text-color-red;
  }
}
.block-simple-blockreturn-to-list{
  text-align: right;
  .back-arrow{
    color: $text-color-red;
    &:after {
      content: "";
      background: url(/sites/vesafe/themes/custom/vesafe_theme/images/back-news.png) no-repeat;
      background-size: 100%;
      display: inline-block;
      width: 22px;
      height: 25px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}
.field--name-field-additional-resources,
.field--name-field-gp-external-links{
  overflow: hidden;
  a{
    display: block;
    margin-bottom: 15px;
  }
  .additional-resources-link-more{
    display:none;
  }
  &.show-more-links{
    .additional-resources-link-more{
      display:block;
    }
  }
}

.field--name-field-gp-getting-started{
  ul{
    padding-left: 20px;
  }
}
