.field--name-field-risks,
.field--name-field-vehicles{
  display:inline-flex;
  flex-direction: row;
  margin:0px;
  font-size:0.875rem;
}

.field--name-field-media-image.field--type-entity-reference{
  margin-bottom:10px;
}
