.hidden{
  &-md {
    @media (min-width: 768px) and (max-width: 991px){
      display:none!important;
    }
  }
  &-lg{
    @media screen and (min-width: 992px) {
      display:none!important;
    }
  }

}

.highlighted-text {
  font-weight: 700;
  font-size: 1rem;
}

p {
  margin: 0 0 11px;
  font-size: 16px;
}
